@import "src/variables.scss";

.feeter {
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 0 9px #66666666;
}

.col-md-4 {
  text-align: center;
}

.links a {
  display: block;
  background-color: #eee;
  color: $colbl;
  box-shadow: 0 0 9px #bbb;
  margin: 12px auto;
  border-radius: 10px;
  max-width: 200px;
}
.links ul {
  width: 100%;
  padding: 0 12px;
}

.social {
  padding-top: 12px;
}

.social a {
  margin: 6px;
  background-color: #eee;
  color: $colbl;
  box-shadow: 0 0 9px #bbb;
  border-radius: 5px;
  padding: 5px;
}

h4,
p {
  color: $colblue;
  font-weight: 400;
  margin: 6px;
}
