@import "src/variables.scss";

.adalink,
.navbar-toggler {
  color: $colblue !important;
  margin: 8px !important;
  padding: 10px !important;
  border-radius: 10px !important;
  box-shadow: 0 0 9px #ddd;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 0 9px #66666666;
}
