@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Lato",
);
@include mat-core($custom-typography);
$garage-primary: mat-palette($mat-indigo);
$garage-accent: mat-palette($mat-pink, A200, A100, A400);
$garage-warn: mat-palette($mat-red);
$garage-theme: mat-light-theme($garage-primary, $garage-accent, $garage-warn);
@include angular-material-theme($garage-theme);

@import "./variables.scss";

* {
  box-sizing: border-box;
  outline: none !important;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
.themer {
  margin: 0;
  height: 100%;
  font-family: "Lato" !important;
  background-color: #eee;
}

.landing {
  padding-top: 20vh;
  text-align: center;
  .box {
    width: 300px;
    padding: 20px;
    margin: auto;
  }

  img {
    width: 150px;
  }

  h3 {
    display: inline;
    color: $colblue;
    letter-spacing: 2.4px;
  }

  #bate {
    color: $colred;
    margin-left: 5px;
  }

  h5 {
    font-weight: 300;
    color: #333333;
    letter-spacing: 2px;
    font-size: 0.8em;
  }
}

.topp {
  height: 35px;
}

.bottom {
  height: 70px;
}

#page {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px;
}

.container {
  max-width: 1080px;
}

@media (max-width: 768px) {
  #page {
    padding-bottom: 300px;
  }
}

.map-container {
  border-radius: 10px !important;
}
